<div class="user-panel">
    <p-panel header="Panel użytkownika">
        <div class="contener">
            <p><span>Imię:</span> {{user.firstName}}</p>
            <p><span>Nazwisko:</span> {{user.lastName}}</p>
            <p><span>E-mail:</span> {{user.email}}</p>
            <p><span>Miasto:</span> {{user.city}}</p>
            <p><span>Kraj:</span> {{user.country}}</p>
            <p><span>Czas pogody:</span> {{time()}}
            <!-- <div class="ui-g">
                <div class="ui-g-12 ui-g-nopad">
                    <span class="ui-float-label">
                        <p-calendar class="weather-input" [(ngModel)]="weatherTime" (onSelect)="changeWeather()" selectionMode="range" dateFormat="yy/mm/dd" hideOnDateTimeSelect="true" showSeconds="true"  showTime="true" hourFormat="24"></p-calendar>
                        <label >Czas dla pogody</label>
                    </span>
                </div>
            </div> -->
            <p><span class="orange">Wilgotność w %:</span> {{user.humidity}}</p>
            <p><span class="red">Temperatura &deg;C:</span> {{user.temp}}</p>
        </div>
        <div class="contener-weather" *ngIf="weatherData?.length > 0">
            <p><span>Prognoza pogody na 7 dni:</span></p>
            <p-table [columns]="cols" [value]="weatherData" dataKey="id" >
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-weather let-rowIndex="rowIndex" let-columns="columns">
                    <tr>
                    <td *ngFor="let col of columns">
                        {{weather[col.field]}}
                    </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-footer>
            <button label="Prognoza pogody" pButton type="button" pTooltip="Pobierz prognozę"  tooltipPosition="bottom"  class="ui-button-danger" icon="fa fa-send" (click)="weatherForecast()" ></button>
            <button label="Generuj PDF" pButton type="button" pTooltip="Generuj PDF"  tooltipPosition="bottom"  class="ui-button-warning" icon="fa fa-file-pdf-o" (click)="pdfService.generateUserPDF(user, weatherData)" ></button>
            <button label="Przypomnij hasło"  pButton type="button" pTooltip="Wyślij hasło emailem"  tooltipPosition="bottom"  class="ui-button-success" icon="fa fa-envelope" (click)="usersService.emit('sendEmail', user)" ></button>
        </p-footer>
    </p-panel>
</div>
